.main{
    display: block;
    max-width: 320px;
    margin: 0 auto;
}
.main .placed{
    width: 80%;
}
.main .placed input{
    width: 80%;
    margin: 0 auto 24px auto;
    display: block;
}
.main button{    
    border: 0px solid;
    line-height: 30px;
    padding: 0 16px;
    border-radius: 3px;
}
.main button:hover{
    background: #0275ff;
    color: #ffffff;
}

table{
    width: 45%;
    margin: 50px 2.5% 24px 2.5%;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    border: 3px solid #eeeeee;
    float: left;
}
table th{background: #eeeeee;}